@font-face {
    font-family: kingthings;
    src: url("../assets/Kingthings Clarity.TTF");
}

:root,
 :root.light {
    --main: #C3D1D8;
    --secondary: #8EA6B2;
    --neutral: #527A8C;
    --lightBlue: #38ACFF;
    --dimmerBlue: #2F92D8;
}

:root.dark {
    --main: #27363D;
    --secondary: #415A66;
}

body {
    margin-top: 48px;
    font-family: sans-serif;
    background: var(--main);
    overflow: hidden;
}


/* Titlebar */

titlebar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--neutral);
    width: 100vw;
    height: 40px;
    user-select: none;
    -webkit-app-region: drag;
}

winbuttons {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
}

winbuttons img {
    margin: none;
    -webkit-app-region: none;
}

winbuttons img:hover {
    filter: brightness(75%);
}

#title-poly {
    font-weight: 900;
    font-family: kingthings;
    color: var(--main);
    font-size: 18pt;
    margin-left: 8px;
}

#title-2d {
    font-weight: 900;
    font-family: kingthings;
    color: var(--lightBlue);
    font-size: 18pt;
}


/* Canvas */

#canvas {
    position: absolute;
    background: url(../assets/canvas/grid.png);
    margin: auto;
}