@font-face {
    font-family: NotoSans;
    src: url("../assets/fonts/NotoSansDisplay-Regular.ttf");
}

@font-face {
    font-family: NotoSans-Bold;
    src: url("../assets/fonts/NotoSansDisplay-Bold.ttf");
}

@font-face {
    font-family: NotoSans-Italic;
    src: url("../assets/fonts/NotoSansDisplay-Italic.ttf")
}

@font-face {
    font-family: NotoSans-BoldItalic;
    src: url("../assets/fonts/NotoSansDisplay-BoldItalic.ttf");
}

:root {
    --main: #1B283D;
    --secondary: #C9CED2;
    --trim: #2179FF;
    --btn-neutral: #4471D3;
    --neutral-border: #15263D;
    --btn-positive: #3FD748;
    --positive-border: #134119;
    --btn-negative: #D34245;
    --negative-border: #3E1618;
}

body {
    margin-top: 40px;
    font-family: NotoSans;
    background: var(--main);
    overflow: hidden;
}

::selection {
    background: #ED9E9F;
}


/* Titlebar */

titlebar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #0E1521;
    width: 100vw;
    height: 32px;
    user-select: none;
    -webkit-app-region: drag;
}

winbuttons {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
}

winbuttons img {
    margin: none;
    -webkit-app-region: none;
}

winbuttons img:hover {
    filter: brightness(75%);
}

#title-name {
    font-family: NotoSans;
    color: white;
    font-size: 15pt;
    margin-left: 5px;
}


/* Buttons */

button {
    padding: 8px;
    outline: 2px solid;
    outline-color: var(--neutral-border);
    outline-offset: -3px;
    border: none;
    border-radius: 15px;
    background: var(--btn-neutral);
    color: white;
    font-size: 12pt;
}

button.red {
    background: var(--btn-negative);
    outline-color: var(--negative-border);
}

button.green {
    background: var(--btn-positive);
    outline-color: var(--positive-border);
    color: black;
}


/* Inputs */

input {
    border: 2px solid var(--trim);
    background: var(--secondary);
    font-size: 12pt;
    color: black;
    padding: 2px;
    outline: none;
    caret-color: red;
    font-family: NotoSans-BoldItalic;
    margin: 2px;
}

label {
    user-select: none;
    border: 2px solid var(--trim);
    background: var(--secondary);
    filter: brightness(80%);
    font-size: 12pt;
    color: black;
    padding: 2px;
    margin: 2px;
}